.my-brand{
  color: #dddddd;
}
body{
  margin: 0px;
  background-color: #dddddd;
}
.my-brand:hover{
  color: #30475e;
}
.mycol{
  border: 3px;
  border-radius: 3%;
  margin: 6% 4%;
  padding: 5%;
  border-color: #f05454;
  border-style: solid;
  transition: transform 0.4s,box-shadow 0.4s;
}
.mycol:hover{
  transform: translate(0,-40px);
  box-shadow: 0px 0px 55px  grey;
}
.wave2{
  position: relative;
  animation: animate 30s linear infinite;
  animation-delay: 0s;
  top: 200;
}
@keyframes animate {
  0%{
    background-position-x: 0;
  }
  100%{
    background-position-x: 1000;
  }
}
.fas{
  color: #f05454;
}
.wave3{
  width: 60%;
  position: relative;
  bottom:5px;
}
.con5{
  transform: rotate(20deg);
  transition: transform 0.4s;
}
.con5:hover{
  transform: rotate(0deg);
}
.con4{
  background-color: #dddddd;
  width: 60%;
  margin-left: 20%;
  height: auto;
  padding: 5% 7%;
}
.carousel{
  background-color:  #f05454;
  padding: 0;
}
#sectioncarousel{
  background-color:  #f05454;
  margin-top: -10px;
}
html{
  scroll-behavior: smooth;
}
.car-container{
  width: 70%;
  margin: 10% auto;
  background-color:  #f05454;
}
.container{
  background-color: #f05454;
  text-align: center;
  min-width: 100%;
  padding: 5% 13% 15% 13%;
}
.head{
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 3.5rem;
  color: #dddddd;
}
.wave4{
  position:relative;
  top: 20px;
}
.sec5{
  text-align: center;
    width: 40%;
}
.container-end {
  text-align: center;
  background-color: #ffffff;
}
.wave4{
  position:relative;
  bottom: 20px;
}
.script{
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  color: #dddddd;
}
.script2{
  margin-top: 20%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  color: #000000;
}
.head2{
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: #000000;
}
.iphone{
  margin-left: 20%;
  transform: rotate(20deg);
  transition: transform 0.5s;
}
.iphone:hover{
  transform: rotate(0deg);
}
.my-navbar{
  z-index: 3;
}
.nav-link.h4{
  color: #dddddd;
}
#sec2{
  text-align: center;
  width: 80%;
  margin: 7% auto;
}
.vl{
  border-left: 1px solid green;
  height: 250px;
}
.fas{
  color:#f05454;
}
.nav-link.h4:hover{
  color: #30475e;
}
.card-header{
  font-size: 1.6rem;
  font-family: 'PT Sans', sans-serif;
}
.card{
  margin: 4%;
  transition: transform 0.4s,box-shadow 0.4s;
}
.card:hover{
  transform: translateY(-25px);
  transform: scale(1.1,1.1);
  box-shadow: 10px 10px 30px grey;
}
.pricing-container{
  width: 55%;
  margin: 10% auto;
  text-align: center;
}
.price-script{
  font-size: 1.5rem;
}
.price-head{
  font-size: 2rem;
  font-family: 'PT Sans', sans-serif;

}
.container1{
  position: relative;
  width: 100%;
  height: 60vh;
  padding: 5% 13%;
  background-color: #f05454;
  background-size: auto;
}
@media only screen and (max-width: 1200px){
  .container1{
    height: auto;
  }
  .head{
    font-size:1.5rem;
  }
  .card{
    margin: 8%;
  }
}
